/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$default-font-size: 1em;
$default-font-family: "Arial", sans-serif;
$default-font-color: #000;
$default-btn-gradient: linear-gradient(to top, #aaa, #eee);
$default-btn-gradient-hover: linear-gradient(to top, #eee, #aaa);

body {
  min-width: 1000px;
  margin: 1% 5%;
  font: {
    family: $default-font-family;
    size: $default-font-size;
  }
}

.global-header-title {
  font-size: 2em;
  font-weight: bolder;
  text-align: center;
}

.global-header, .global-footer-top {
  border: 1px solid #bbb;
  width: 100%;
  background: #efefef;
  padding: 10px;
}

.global-footer-top {
  // border: 1px dashed blue;
  border-bottom: 0px;
  border-radius: 5px 5px 0 0;
}

.global-header {
  height: 80px;
  margin-bottom: 1em;
  border-radius: 5px;
}

.global-footer-container {
  // height: 50px;
  margin-top: 1em;
}

.possum-logo {
  margin-bottom: -18px;
}

.global-nav-container {
  margin: 2em 0 0 0;
  text-align: center;
  // border: 1px dashed blue;
}

.global-nav-btn {
  margin: 0 0.3em;
  display: inline-block;
  border: 1px solid #aaa;
  border-radius: 5px;
  background-image: $default-btn-gradient;
  font-size: 0.9em;
}

.global-nav-btn-link {
  display: block;
  padding: 0 1em;
  text-decoration: none;
  color: $default-font-color !important;
  border-radius: 5px;
  &:hover {
    background: none;
    color: $default-font-color;
    background-image: $default-btn-gradient-hover;
  }
}

.global-footer-product-container,
.global-footer-company-container,
.global-footer-connect-container {
  display: inline-block;
  vertical-align: top;
  padding: 0.4em;
}

.global-footer-top-wrapper {
  width: 37%;
  margin: 0 auto;
}

.global-footer-product-title,
.global-footer-company-title,
.global-footer-connect-title {
  font-weight: bolder;
  font-size: 0.9em;
}

.global-footer-product,
.global-footer-company,
.global-footer-connect {
  font-size: 0.8em;
  a {
    text-decoration: none;
    &:hover {
      background: none;
      text-decoration: underline;
      color: #666;
    }
  }
}

.global-footer-connect {
  display: inline-block;
  border-radius: 1.4em;
  // border-radius: 50%;
  border: 1px solid #000;
  width: 1.4em;
  height: 1.4em;
  padding: 9px 6px 3px 6px;
  font-size: 20px;
  text-align: center;
  margin: 5px;
  // vertical-align: top;
  &:hover{
    background: #aaa;
    // border: 1px solid white;
    a{
      color: black;
    }
  }
}

.sub-global-footer {
  background: #444;
  padding: 10px;
  width: 100%;
  color: white;
  font-size: 0.7em;
  border-radius: 0 0 5px 5px;
  border: 1px solid #000;
  text-align: center;
}

.sub-global-footer-teammembers {
  padding: 0 4px;
  display: inline-block;
}
