<!DOCTYPE html>
<html>
<head>
  <title>SurveyOpossum</title>
  <link type="text/css" rel="stylesheet" href="http://meyerweb.com/eric/tools/css/reset/reset.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
  <body>

    <header class="global-header">
      <div class="global-header-title">
        Survey <img alt="Opossum" height="50" width="50" src="./assets/possum-icon.png" class="possum-logo"> Opossum
      </div>
      <ul class="global-nav-container">
        <li class="global-nav-btn" id="my-survey-btn"><a href="#" class="global-nav-btn-link">My Surveys</a></li>
        <li class="global-nav-btn" id="survey-deisgner-btn"><a href="#" class="global-nav-btn-link">Survey Designer</a></li>
        <li class="global-nav-btn" id="profile-btn"><a href="#" class="global-nav-btn-link">Profile</a></li>
        <li class="global-nav-btn" id="support-btn"><a href="#" class="global-nav-btn-link">Support</a></li>
        <li class="global-nav-btn" id="logout-btn"><a href="#" class="global-nav-btn-link">Logout</a></li>
      </ul>
    </header>

<%= yield %>

    <footer class="global-footer" id="">
      <div>My Footer</div>
    </footer>

  </body>
</html>
